# HAProxy listen directives for {{ domain_names | join: ", " }}
  bind *:80
  {% if ipv6 -%}
  bind *[::]:80
  {% else -%}
  # bind *[::]:80
  {% endif %}
  {% if certificate -%}
  bind *:443 ssl crt {{ certificate.cert_path }} alpn h2,http/1.1
  {% if ipv6 -%}
  bind *[::]:443 ssl crt {{ certificate.cert_path }} alpn h2,http/1.1
  {% else -%}
  # bind *[::]:443 ssl crt {{ certificate.cert_path }} alpn h2,http/1.1
  {% endif %}
  {% endif %}
