# ------------------------------------------------------------
# Stream: {{ incoming_port }} TCP: {{ tcp_forwarding }} UDP: {{ udp_forwarding }}
# ------------------------------------------------------------

{% if enabled %}
{% if tcp_forwarding == 1 or tcp_forwarding == true -%}
# TCP Frontend
frontend fe_stream_tcp_{{ id }}
  bind *:{{ incoming_port }}{% if certificate and certificate_id > 0 %} ssl crt {{ certificate.cert_path }}{% endif %} reuseport
  {% if ipv6 -%}
  bind *[::]:{{ incoming_port }}{% if certificate and certificate_id > 0 %} ssl crt {{ certificate.cert_path }}{% endif %} reuseport
  {% else -%}
  # bind *[::]:{{ incoming_port }}{% if certificate and certificate_id > 0 %} ssl crt {{ certificate.cert_path }}{% endif %} reuseport
  {% endif %}

  option tcplog
  timeout client 3600s

  # Log original source IP
  capture request header Host len 64
  http-request set-header X-Forwarded-For %[src]

  # Advanced config
  {{ advanced_config }}

  # Custom HAProxy stream config
  # Custom
  # include /data/haproxy/custom/server_stream_tcp.cfg

  use_backend be_stream_tcp_{{ id }}

# TCP Backend
backend be_stream_tcp_{{ id }}
  option tcp-check
  timeout connect 3600s
  timeout server 3600s
  server server1 {{ forwarding_host }}:{{ forwarding_port }} check
{% endif %}

{% if udp_forwarding == 1 or udp_forwarding == true -%}
# UDP Frontend
frontend fe_stream_udp_{{ id }}
  bind *:{{ incoming_port }} proto udp reuseport
  {% if ipv6 -%}
  bind *[::]:{{ incoming_port }} proto udp reuseport
  {% else -%}
  # bind *[::]:{{ incoming_port }} proto udp reuseport
  {% endif %}

  option udplog
  timeout client 3600s

  use_backend be_stream_udp_{{ id }}

# UDP Backend
backend be_stream_udp_{{ id }}
  timeout server 3600s
  server server1 {{ forwarding_host }}:{{ forwarding_port }} send-proxy-v2
{% endif %}
{% endif %}
