# HAProxy configuration file for Haproxy Proxy Manager
#
# This file serves as the main configuration, similar to nginx.conf
# Dynamic configurations are loaded from /etc/haproxy/conf.d/ and /data/

global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user npm
    group npm
    daemon

    # SSL settings
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

    # Tune settings
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor
    option  http-server-close
    timeout connect 90s
    timeout client  90s
    timeout server  90s
    timeout http-request 90s
    timeout http-keep-alive 90s
    timeout queue 90s
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

    # Default frontend for fallback (similar to nginx "You are not configured" page)
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

# Custom global includes
# include /data/haproxy/custom/global.cfg

# Load dynamic configurations
include /etc/haproxy/conf.d/*.conf
# include /data/haproxy/default_host/*.cfg
# include /data/haproxy/proxy_host/*.cfg
# include /data/haproxy/redirection_host/*.cfg
# include /data/haproxy/dead_host/*.cfg
# include /data/haproxy/temp/*.cfg

# Custom includes
# include /data/haproxy/custom/frontend.cfg
# include /data/haproxy/custom/backend.cfg
# include /data/haproxy/custom/listen.cfg

# Custom root-level includes
# include /data/haproxy/custom/root.cfg
